@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Prata', sans-serif;
    background: #333;
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
}

img {
    image-rendering: high-quality;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.7);

    animation: top-to-bottom 1s ease-in-out forwards;
    transform: translateY(-1000px);
}

@keyframes top-to-bottom {
    from {
        transform: translateY(-1000px);
    }

    to {
        transform: translateY(0px);
    }
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: rgb(199, 199, 153);
}
  
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
   
    /* Scroll Snap */
    scroll-snap-align: center;
}
  
section h1 {
    font-size: 4rem;
    font-weight: 400;
}

section h2 {
    font-size: 3rem;
    font-weight: 400;
}

section p {
    font-size: 1.2em;   
}

/* Section Images */
section#home {
    background: url('../images/1.jpg') no-repeat top center/cover;
    align-items: start;
}

#home .upper-text {
    margin: 0 80px;
    margin-top: 100px;
    color: rgb(82, 27, 27);
    font-weight: 800;
    background-color: #fff;
    padding: 4px 15px;
    border-radius: 40px;

    animation: fade-in 1s ease-in-out forwards;
    animation-delay: 3s;
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#home h1 {
    margin: 10px 80px;

    animation: left-to-right 2s ease-in-out forwards;
    animation-delay: 1s;
    transform: translateX(-1000px);
}

@keyframes left-to-right {
    from {
        transform: translateX(-1000px);
    }

    to {
        transform: translateX(0px);
    }
}


#home .bottom-text {
    margin: 0 80px;
    color: #fff;
    font-family: sans-serif;
    width: 650px;
    text-align: start;

    animation: left-to-right 2.3s ease-in-out forwards;
    animation-delay: 1s;
    transform: translateX(-1000px);
}

.button {
    margin: 40px 80px;
    font-family: sans-serif;
    padding: 10px 30px;
    border: 2px rgb(82, 27, 27) solid;
    background-color: rgb(82, 27, 27);
    color: #fff;
    font-size: 0.8em;
    font-weight: 750;

    animation: fade-in 1.5s ease-in-out forwards;
    animation-delay: 4s;
    opacity: 0;

    transition-property: background-color border-color;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}

.button:hover {
    background-color: transparent;
    border-color: #fff;
    cursor: pointer;
}
  
section#about {
    background-color: #fff;
    color: #333;
    flex-direction: row;
}

#about #first-div-about img {
    width: 150px;
    margin: 20px;
}

#about #second-div-about img {
    width: 550px;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    margin: 20px;
}

#about h1 {
    color: rgb(82, 27, 27);
}

#about #top-about {
    font-size: 1.5em;
}

#about #description-about {
    font-size: 1em;
    font-family: sans-serif;
    margin: 20px;
}

section#services {
    color: #333;
    background-color: beige;
}

#services-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#services-items .item {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.item img {
    width: 60px;
}

.title-item {
    font-size: 1.5em;
}

.item strong {
    font-size: 1em;
    font-weight: 400;
    margin-top: 10px;
}

.line-services {
    padding: 2px;
    background-color: #333;
    border-radius: 300px;
    width: 400px;
    margin-bottom: 60px;
}

section#prices {
    background-color: rgb(29, 29, 29);
}

#pricing-items {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

#prices .line-services{
    background-color: #fff;
    margin-bottom: 20px;
}

.column-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    margin: 0 30px;
}

.column-price h3 {
    margin: 20px 0;
    background-color: rgb(199, 199, 153);
    padding: 10px 25px;
    color: #333; 
    font-weight: bold;   
}

.price-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
}

.price-description {
    margin-bottom: 40px;
    font-family: sans-serif;
}

section#team {
    background-color: black;
    color: #fff;
}

#team p {
    color: #ccc;
    font-size: 1.2em;
}

#four-images {
    display: flex;
}

#four-images img {
    width: 220px;
    height: 320px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(82, 27, 27);
}

#four-images p{
    display: none;
    padding: 10px;
    background-color: rgb(82, 27, 27);
    margin-top: 140px;
    position: absolute;
}

#t1, #t2, #t3, #t4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#inspirational {
    background: url('../images/8.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}

#inspirational h2 {
    width: 80%;
    font-size: 2em;
    padding: 15px 20px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.836);
}

section#contact {
    background: url('../images/2.jpg') no-repeat center center/cover;
}

#contact form {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 20px;
    background-color: #333;
    width: 60%;
    margin-top: 20px;
    border: #ccc 2px solid;
    border-radius: 10px;
    --bg-color-form: #333;
}

#contact input[type="text"] {
    margin: 10px;
    padding: 5px 10px;
    width: 300px;
    background-color: var(--bg-color-form);
    border: #ccc 2px solid;
    font-size: 1.2em;
    color: #fff;
}

#contact input[type="text"]::placeholder {
    color: #ccc;
    font-family: sans-serif;
}

#contact input[type="text"]:focus {
    outline: none;
}

#contact input[type="email"] {
    margin: 10px;
    padding: 5px 10px;
    width: 300px;
    background-color: var(--bg-color-form);
    border: #ccc 2px solid;
    font-size: 1.2em;
    color: #fff
}

#contact input[type="email"]::placeholder {
    color: #ccc;
    font-family: sans-serif;
}

#contact input[type="email"]:focus {
    outline: none;
}

#contact input[type="number"] {
    margin: 10px;
    padding: 5px 10px;
    width: 300px;
    background-color: var(--bg-color-form);
    border: #ccc 2px solid;
    font-size: 1.2em;
    color: #fff
}

#contact input[type="number"]::placeholder {
    color: #ccc;
    font-family: sans-serif;
}

#contact input[type="number"]:focus {
    outline: none;
}

/* Remove arrows type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#contact input[type="date"] {
    margin: 10px;
    padding: 5px 10px;
    width: 300px;
    background-color: var(--bg-color-form);
    border: #ccc 2px solid;
    font-size: 1.3em;
    color: #fff;
    max-height: 38px;
}

#contact input[type="date"]:focus {
    outline: none;
}

#contact input[type="date"]:hover {
    cursor: pointer;
}

#contact select {
    margin: 10px;
    padding: 5px 10px;
    width: 300px;
    background-color: var(--bg-color-form);
    border: #ccc 2px solid;
    font-size: 1.2em;
    color: #fff;
    max-height: 36px;
}

#contact select:hover {
    cursor: pointer;
}

#contact option {
    margin: 10px;
    padding: 5px 10px;
    width: 300px;
    background-color: #333;
    border: #ccc 2px solid;
    color: #fff
}

#contact select:focus {
    outline: none;
}

/* Calendar icon */
::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

section#footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
}

#upper-footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    flex-wrap: wrap;
}

#upper-footer .footer-item {
    margin: 20px;
}

#upper-footer img {
    width: 100px;
    color: #333;
    margin: 10px;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info h1 {
    font-size: 1.5em;
}

#info #socials {
    display: flex;
}

#socials i {
    margin: 10px;
    font-size: large;
}

#socials i:hover {
    cursor: pointer;
}

#socials #facebook:hover{
    color: rgb(0, 89, 255);
}

#socials #instagram:hover{
    color: rgb(255, 0, 149);
}

#socials #twitter:hover{
    color: rgb(0, 132, 255);
}

#socials #google:hover{
    color: orangered;
}

#upper-footer h2 {
    font-size: 1.3em;
}

#upper-footer p {
    font-size: 1.1em;
    color: #ccc;
}

#phone p {
    text-align: start;
    line-height: 1.8em;
}

#bottom-footer {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

#bottom-footer .line-footer{
    width: 100%;
    background-color: #ccc;
    padding: 1px;
    margin-top: 100px;
    margin-bottom: 30px;
}

section#footer #bottom-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8em;
}

#footer a {
    color: #ccc;
}

#footer a:hover {
    color: #fff;
    cursor: pointer;
}

#legal {
    display: flex;
}

#legal p {
    margin: 0 20px;
}

#legal p:hover {
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 2px;
}

#hidden-menu {
    display: none;
}

#side-menu{
    right: 0;
    top: 0;
    width: 40%;
    min-height: 400px;
    position: absolute;
    background-color: rgba(36, 36, 36, 0.897);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 25px;
    /*display:flex*/
    
    transform: translateX(1000px);
    transition: transform 0.4s ease-in-out;
}

#side-menu a{
    color: #fff;
}

#side-menu a:visited{
    color: #fff;
}

#arrow-div {
    width: 151px;
}

#arrow-back {
  color: white;
  display: flex;
  justify-content: end;
  font-size: xx-large;
  margin-top: 20px;
}

#arrow-back:hover {
    cursor: pointer;
    color: rgb(199, 199, 153);
}

#side-menu li {
    color: #fff;
    margin: 15px;
    font-size: large;
}

#side-menu li:hover {
    cursor: pointer;
    color: rgb(199, 199, 153);
}

#side-menu a:hover {
    cursor: pointer;
    color: rgb(199, 199, 153);
}

.navbar .ul-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width: 1200px) {
    #second-div-about {
        display: none;
    }

    #description-about {
        width: 80%;
    }

    #first-div-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #first-div-about h1 {
        font-size: 3em;
    }

    #services-items {
        flex-wrap: wrap;
        justify-content: center;
        font-size: .7em;
    }

    #services-items img {
        width: 40px;
    }

    .line-services {
        width: 70%;
        margin-bottom: 15px;
    }
}

@media(max-width: 1100px) {
    #team h1 {
        font-size: 3em;
    }

    #four-images {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #four-images img {
        width: 150px;
        height: 210px;
    }

    #four-images p {
        display: flex;
        font-size: 0.8em;
    }

    #contact h1 {
        font-size: 2em;
    }
    
    #contact form {
        width: 370px;
        flex-direction: column;
        font-size: .9em;
        margin-top: 0px;
    }

    #contact option {
        width: 370px;
    }

    #contact .button {
        margin-top: 20px;
    }
}

@media(max-width: 1000px) {
    #pricing-items {
        align-items: center;
        font-size: .9em;
    }

    .column-price {
        margin: 0 30px;
        width: 80%;
    }

    .column-price h3 {
        margin-top: 10px;
        padding: 5px 20px;
    }

    .price-description {
        margin-bottom: 10px;
    }
}

@media(max-width: 900px) {
    #main-ul li {
        display: none;
    }

    .navbar #logo {
        display: block;
        margin-top: 5px;
    }

    .navbar #hidden-menu {
        display: block;
        font-size: 1.4em;
    }

    .navbar #main-ul {
        justify-content: space-between;
    }

    #inspirational h2 {
        font-size: 1.1em;
    }

    #upper-footer {
        justify-content: center;
    }

    #bottom-footer .line-footer{
        margin-top: 30px;
    }

    #bottom-text {
        flex-direction: column;
    }

    #copyright {
        margin: 20px;
    }

    #footer {
        font-size: .8em;
    }

    section#inspirational {
        background-attachment: local;
    }
}

@media(max-width: 850px) {
    #home h1 {
        margin: 10px auto;
        font-size: 3em;
    }

    #home .bottom-text {
        margin: 0 auto;
        color: #fff;
        font-family: sans-serif;
        width: 80%;
        text-align: start;
        font-size: 1.1em;
    }

    #home a {
        margin: 0 auto;
        font-size: 1em;
    }

    #home .upper-text {
        margin: 0 auto;
        font-size: 0.9em;
    }
}

@media(max-width: 800px) {
    #pricing-items {
        flex-direction: column;
        align-items: center;
        font-size: .7em;
    }

    .column-price {
        margin: 0 30px;
        width: 80%;
    }

    .column-price h3 {
        margin-top: 10px;
        padding: 5px 20px;
    }

    .price-description {
        margin-bottom: 10px;
        display: none;
    }

    #prices h2 {
        font-size: 2.5em;
    }
}

@media(max-width: 650px) {
    #side-menu li {
        font-size: small;
        margin: 10px;
    }

    #side-menu {
        width: 50%;
        min-height: 400px;
    }

    #arrow-div {
        width: 100px;
    }

    #contact form {
        background: none;
        border: none;
        --bg-color-form: rgba(0,0,0,0.7);
    }
}

@media(max-width: 560px) {
    #services-items .item {
        width: 30%;
        flex-basis: 1;
    }

    #services h2 {
        font-size: 2.5em;
    }

    #services .title-item {
        font-size: 1.2em;
    }
}

@media(max-width: 490px) {
    #first-div-about img {
        max-width: 128px;
    }

    #first-div-about h1 {
        font-size: 2em;
    }

    #footer {
        font-size: 0.7em;
    }

    #footer img {
        width: 40px;
    }

    #upper-footer {
        margin-bottom: 0;
    }

    #bottom-footer .line-footer{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #upper-footer .footer-item {
        margin: 10px 20px;
    }
}

@media(max-width: 430px) {
    #four-images img {
        width: 120px;
        height: 180px;
    }
}

@media(max-width: 370px) {
    #contact h1 {
        margin-right: 20px;
        margin-left: 20px;
    }

    #contact form {
        width: 100vw;
    }

    #contact .input-box {
        margin: 10px 0;
        max-width: 250px;
    }
}
